<ion-header> 
<ion-toolbar color="secondary">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot= "start">
      <ion-back-button text=" " [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-card>
  <ion-card-header>
  <ion-card-title> 
  Registro
  </ion-card-title>
<ion-card-content>


<form [formGroup]= "formularioRegistro" (keyup.enter)= "guardar()">

<ion-item id>
    <ion-label position="floating" >Usuario:</ion-label>
    <ion-input formControlName= "usuario1" ></ion-input>
  </ion-item>

<ion-item >
    <ion-label position="floating" >Nombre:</ion-label>
    <ion-input formControlName= "nombre" ></ion-input>
  </ion-item>

<ion-item >
    <ion-label position="floating" >Correo:</ion-label>
    <ion-input formControlName= "correo" ></ion-input>
  </ion-item>

<ion-item >
    <ion-label position="floating" >Carrera:</ion-label>
    <ion-input formControlName= "carrera" ></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Contraseña:</ion-label>
    <ion-input formControlName= "password" type="password" ></ion-input>
  </ion-item>

<ion-item >
    <ion-label position="floating" >Confirmar Contraseña:</ion-label>
    <ion-input   formControlName= "confirmacionPassword" type="password" ></ion-input>
   
  </ion-item>

  <br>
  <ion-checkbox  color="primary" ></ion-checkbox><ion-label> Desea recibir notificaciones?
  </ion-label>
  <ion-button  color="tertiary" expand="block" (click)="guardar()">Registrarse
  </ion-button>
</form>


</ion-card-content>
   </ion-card-header>
   </ion-card>



  

  <br>
  <br>
  <br>
  
  <img src="assets/img/final3.png" alt="">
</ion-content>



