
<ion-header>
  
  <ion-toolbar color="secondary">
    <br>
    <ion-item color="secondary">
    <ion-title class="ion-text-center"></ion-title>
      <ion-buttons slot= "start">
      <ion-back-button text=" " [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content color="primary">
 
</ion-content>

<ion-footer >
  <ion-toolbar color="secondary">
    <ion-item color="secondary">
      <ion-datetime value="2021-09-21T20:18:40.394Z" display-timezone="utc"></ion-datetime>
      
    </ion-item>
  </ion-toolbar>
</ion-footer>






