
<ion-header>
  
  <ion-toolbar color="secondary">
    <br>
    <ion-item color="secondary">
      <img src="assets/img/3.png" alt="">
      <br> 
      
    </ion-item>

  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content color="primary">
  
  <br>
  <br>
  <br>
  <ion-item color="primary">
    <img src="assets/img/final4.png" alt="">
  </ion-item>
  
 
  <br>
  <ion-button expand="block" size="Small" color="tertiary" [routerLink]="['/login']">Iniciar Sesion</ion-button>


  
  <ion-button expand="block" size="Small"  [routerLink]="['/register']">Registrar</ion-button>
  <br>
 
  
  <ion-item color="primary">
    <p class="ion-text-center">Aplicacion para registrar la asistencia de los alumnos</p>
    <br>
    <br>
  </ion-item>
  
</ion-content>

<ion-footer >
  <ion-toolbar color="secondary">
    <ion-item color="secondary">
      <ion-datetime value="2021-09-21T20:18:40.394Z" display-timezone="utc"></ion-datetime>
      
    </ion-item>
  </ion-toolbar>
</ion-footer>






